$primary: (#7800ad);
html {
  height: 100%;
}

body {
  @extend .bg-dark;
  @extend .text-light;

  min-height: 100%;

  #root {
    height: 100% !important;
  }

  a,
  button {
    text-decoration: none;
    &:visited {
      @extend .text-light;
    }
  }
}

.base-page {
  height: 100%;
  max-width: 1300px;
  margin: auto;
  .content-col {
    @extend .border-start;
    @extend .border-end;
    @extend .border-light;
    @extend .border-1;
    @extend .px-0;
    height: 100%;
    min-width: 600px;
  }

  .nav-col {
    max-width: 300px;
  }

  .sidebar-col {
    max-width: 300px;
  }
}
.tweet {
  &-profile-picture {
    @extend .me-3;
    border-radius: 50%;
    height: 50px !important;
  }
}

.textarea {
  @extend .bg-dark;
  @extend .text-light;
  @extend .border-0;
  resize: none;
  height: 100px;
}

.main-nav {
  @extend .flex-column;
  @extend .px-5;
  @extend .align-items-start;

  &-button {
    @extend .fw-bold;
    @extend .fs-5;
  }
}

.btn {
  transition: none;
}

.tweet-like {
  @extend .bg-transparent;
  @extend .border-0;
  outline: none !important;
  transition: none !important;

  &:hover {
    @extend .bg-danger;
  }

  &:focus{
    outline: 0 !important;
    box-shadow: none !important;
    transition: none;
    border: none !important;
  }

}

.user-form {
  max-width: 600px;
  margin: auto;

  &-row {
    @extend .mb-3;
  }
}

@import '~bootstrap/scss/bootstrap';

